extends base

block vars
  - let title = 'Home'

block body
  h1 Auth with Node.js
  p.
    Welcome to Auth with Node.js! Please #[a(href='/register') register]
    or #[a(href='/login') login] to continue.
